body{
    font-family: 'EB Garamond', serif;
}

.banner{
    background-color: rgba(16, 95, 214, 0.877);
    color: white;
    padding: 20px;
    padding-bottom: 5px;
}

.bookImage{
    height: 250px;
    width: 230px;
    position: relative;
    left: 130px;
    top: -20px;
}

.closingBanner{
    padding-left: 40px;
}

#grabCopy{
    background-color: rgba(255, 166, 0, 0.932) ;
    color: white;
    font-family: 'Lobster', cursive;
    margin-left: 89px;
}

.signUp{
    background-color: gainsboro;
    
}
